<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DailyLanguage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DailyWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>158ECBC52ADC63D900247626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158ECBE02ADC803100247626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158ECBE72ADC803100247626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15DABF002AFB169000D392D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15DABF072AFB169000D392D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15FF32662ADC630E00B6B2AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
